logging.level.org.hibernate.SQL=DEBUG

spring.datasource.url=jdbc:postgresql://address_to_db_server/db_name
spring.datasource.username=username
spring.datasource.password=password

spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=update